.price-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $color-dark-grey;
  width: 380px;
  height: 770px;
  margin-right: 18px;
  text-align: center;
  &:last-child {
    margin: 0;
  }
  &__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 0;
    margin-top: 33px;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    margin-top: 33px;
  }
  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin: 40px 26px;
  }
  &__options-list {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding: 0;
    margin: 0;
    &-item {
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }
  &__popular {
    position: relative;
    &-label {
      position: absolute;
      transform: rotate(45deg);
      font-size: 14px;
      line-height: 17px;
      background: #dc3f45;
      width: 147px;
      font-weight: 700;
      line-height: 25px;
      top: 25px;
      right: -35px;
    }
  }
}
.list-item__dedicated {
  background-color: $color-dedicated-card;
}
