.price-card__order-btn {
  color: $color-white;
  width: 154px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  margin-top: 289px;
  margin-left: 112px;
}
.card__arrow {
    width: 15px;
    height: 13px;
    margin: 18px 22px 19px 22px;
}

.arrow__blue {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}
.arrow__green {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}
.arrow__orange {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}
.button__blue,
.blue__price {
  background-color: $color-blue;
}
.button__green,
.green__price {
  background-color: $color-green;
}
.orange__price,
.button__orange {
  background-color: $color-orange;
}
