@import 'variables', 'common', 'body';
* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 1400px;
  height: 1000px;
  background-color: $color-page-background;
}
