@import 'variables', 'common', 'cards';
* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: $color-white;
}
.price-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-page-background;
}
